<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.dankal.user">

    <application>
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".login.EnterpriseLoginActivity" />
        <activity android:name=".login.RegistrActivity" />
        <activity android:name=".login.RegistrCodeActivity" />
        <activity android:name=".login.SetPwdActivity" />
        <activity android:name=".login.UserRegistrActivity" />
        <activity android:name=".login.UserRegistrCodeActivity" />
        <activity android:name=".login.UserSetPwdActivity" />
    </application>

</manifest>