<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.dankal.address">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name="cn.dankal.home.activity.HomeActivity" />
        <activity android:name="cn.dankal.home.activity.DemandListActivity" />
        <activity android:name="cn.dankal.home.activity.HomeSearchActivity" />
        <activity android:name="cn.dankal.home.activity.ReleaseIdeaActivity" />
        <activity android:name="cn.dankal.home.activity.SubmitIdeaActivity" />
        <activity android:name="cn.dankal.home.activity.DemandDetailsActivity" />
        <activity android:name="cn.dankal.home.activity.DemandClaimActivity" />
        <activity android:name="cn.dankal.home.activity.UserHomeActivity" />
        <activity android:name="cn.dankal.home.activity.PostRequstActivity" />
        <activity android:name="cn.dankal.home.activity.EnterIntentionActivity" />
        <activity android:name="cn.dankal.home.activity.SubmitIntentionActivity" />
        <activity android:name="cn.dankal.home.activity.ServiceActivity"></activity>
    </application>

</manifest>