<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.xunzi.basiclib" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <application>
        <activity android:name=".base.activity.BigPhotoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!--7.0相机权限-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="cn.xunzi.basiclib.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public"/>
        </provider>
    </application>

</manifest>
