<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.dankal.setting">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity android:name="cn.dankal.my.activity.MyWorkListActivity" />
        <activity android:name="cn.dankal.my.activity.MyIdeaActivity" />
        <activity android:name="cn.dankal.my.activity.MyEarningsActivity" />
        <activity android:name="cn.dankal.my.activity.TransactionRecordsActivity" />
        <activity android:name="cn.dankal.my.activity.SettingActivity" />
        <activity android:name="cn.dankal.my.activity.NewsActivity" />
        <activity android:name="cn.dankal.my.activity.PersonalDataActivity" />
        <activity android:name="cn.dankal.my.activity.EditDataActivity" />
        <activity android:name="cn.dankal.my.activity.WithdrawalActivity" />
        <activity android:name="cn.dankal.my.activity.AboutUsActivity" />
        <activity android:name="cn.dankal.my.activity.FeedBackActivity" />
        <activity android:name="cn.dankal.my.activity.SetWithdaPwdActivity" />
        <activity android:name="cn.dankal.my.activity.SetPwdCodeActivity" />
        <activity android:name="cn.dankal.my.activity.ComProbActivity" />
        <activity android:name="cn.dankal.my.activity.ComPorDataActivity" />
        <activity android:name="cn.dankal.my.activity.BankCardActivity" />
        <activity android:name="cn.dankal.my.activity.CheckBankCardActivity"></activity>
    </application>

</manifest>